<?xml version="1.0" encoding="utf-8"?>
<manifest
        xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.google.code.apndroid"
        android:versionCode="31"
        android:versionName="3.0.4">

    <application
            android:label="@string/app_name"
            android:name=".ApndroidLiteApplication"
            android:icon="@drawable/apndroid">

        <!-- Activities -->

        <!-- AdMob -->
        <activity android:name="com.google.ads.AdActivity"
                  android:configChanges="keyboard|keyboardHidden|orientation"/>

        <activity
                android:name="com.google.code.apndroid.MainActivity"
                android:label="@string/app_name"
                android:launchMode="singleInstance"
                android:theme="@android:style/Theme.NoTitleBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
                android:name="com.google.code.apndroid.preferences.SettingsActivity"
                android:label="@string/app_name"/>

        <activity
                android:name="com.google.code.apndroid.ActionActivity"
                android:theme="@android:style/Theme.Translucent.NoTitleBar"
                android:exported="true"
                android:excludeFromRecents="true">

            <intent-filter>
                <action android:name="com.google.code.apndroid.intent.action.STATUS_REQUEST"/>
                <action android:name="com.google.code.apndroid.intent.action.CHANGE_REQUEST"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

        </activity>

        <!-- Broadcast receivers -->

        <receiver
                android:name="com.google.code.apndroid.NotificatorReceiver"
                android:label="NotificatorReceiver">

            <intent-filter>
                <action android:name="com.google.code.apndroid.intent.action.STATUS_CHANGED"/>
            </intent-filter>

        </receiver>

        <receiver android:name="com.google.code.apndroid.SwitcherReceiver">
            <intent-filter>
                <action android:name="com.google.code.apndroid.intent.action.CHANGE_REQUEST" />
            </intent-filter>
        </receiver>

        <service android:name="com.google.code.apndroid.ActionService">
            <intent-filter>
                <action android:name="com.google.code.apndroid.intent.action.SERVICE"/>
            </intent-filter>
        </service>

        <!-- Widget -->

        <receiver android:name="com.google.code.apndroid.StatusWidget">
            <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/widget_configuration" />

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.google.code.apndroid.intent.action.STATUS_CHANGED"/>
                <action android:name="com.google.code.apndroid.intent.action.STATUS_CHANGE_IN_PROGRESS"/>
            </intent-filter>

        </receiver>
        
		<!-- Locale plugin -->

        <activity android:name="com.google.code.apndroid.locale.LocaleActivity"/>

        <!--Locale plugin is moved to separate package, but for backward compatibility with 2.x version
        we need to use alias-->
        <activity-alias android:name="com.google.code.apndroid.LocaleActivity"
                        android:label="@string/app_name"
                        android:icon="@drawable/icon_plugin_color_32"
                        android:exported="true"
                        android:targetActivity="com.google.code.apndroid.locale.LocaleActivity">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING"/>
            </intent-filter>
        </activity-alias>


		<!--<activity android:name=".locale.LocaleActivity" android:label="@string/app_name" android:icon="@drawable/icon_plugin_color_32" android:exported="true">-->
			<!--<intent-filter>-->
		        <!--<action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING"/>-->
		    <!--</intent-filter>-->
		<!--</activity>-->
		
		<receiver android:name="com.google.code.apndroid.locale.LocaleEventReceiver">
		    <intent-filter>
		        <action android:name="com.twofortyfouram.locale.intent.action.FIRE_SETTING"/>
		    </intent-filter>
		</receiver>
        
    </application>

	<!-- Permissions -->

    <uses-permission android:name="android.permission.WRITE_APN_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <!-- a little trick to be able to support both 1.5 and multiple screen sizes introduced in 1.6 -->
    <uses-sdk android:minSdkVersion="3" android:targetSdkVersion="4" />

    <supports-screens
            android:smallScreens="true"
            android:normalScreens="true"
            android:largeScreens="true"/>

</manifest>
